<div class="container">
  <br>
  <h1>La page {{this.id == null ? 'd\'ajout' : 'modifier'}}   (Categorie)</h1>
  <br>
  <form action=""  #values="ngForm"  (ngSubmit)="save(values)">
      <label for="">Libelle</label>
      <input type="text" class="form-control" [(ngModel)]="libelle" name="libelle">

      <br>
      <button type="submit" class="btn btn-success m-lg-1" >{{this.id == null ? 'Ajouter' : 'Modifier'}}</button>
      <button type="reset" routerLink="/categorie" class="btn btn-danger">Retour</button>
  </form>
</div>
